<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="pr7_Entities" connectionString="metadata=res://*/CarWash.csdl|res://*/CarWash.ssdl|res://*/CarWash.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FM0GV57;initial catalog=pr7_;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>